<h1>WebProject-Resources</h1>
<p>This repo is used as file distribution system for different web projects.</p>
<p>It contains my personal most used fonts, icons and javascript libraries which aren&#39;t supported by twitter&#39;s bower (yet).</p>
<h1>fonts</h1>
<ul>
<li><a href="http://www.google.com/fonts/specimen/Roboto">roboto</a></li>
<li><a href="http://www.google.com/fonts/specimen/Cabin">cabin</a></li>
<li><a href="http://www.fontsquirrel.com/fonts/Sansation">Sansation</a></li>
<li><a href="https://github.com/adobe/source-code-pro">source-code-pro</a></li>
</ul>
<h1>icons</h1>
<ul>
<li><a href="http://www.alessioatzeni.com/metrize-icons/">Metrize_Icons</a></li>
<li>metro (extended version of the social icons from Metrize_Icons)</li>
</ul>
<h1>javascript</h1>
<ul>
<li><a href="https://github.com/cbopp-art/lightcase">lightcase</a></li>
</ul>
