<h1>Hammer.js <a href="https://travis-ci.org/EightMedia/hammer.js/"><img src="https://travis-ci.org/EightMedia/hammer.js.png" alt="Build Status"></a></h1>
<h3>A javascript library for multi-touch gestures</h3>
<blockquote>
<p>I told you, homeboy /
You <em>CAN</em> touch this /
Yeah, that&#39;s how we living and you know /
You <em>CAN</em> touch this</p>
</blockquote>
<h2>Features</h2>
<ul>
<li>Detects Tap, DoubleTap, Swipe, Drag, Pinch, and Rotate gestures</li>
<li>DOM Events</li>
<li>Debug plugins</li>
<li>Custom gestures</li>
<li>Chainable instance methods</li>
<li>jQuery plugin with events delegation (the on/off methods) available</li>
<li>IE8 and older compatibility with jQuery plugin</li>
<li>AMD support (RequireJS)</li>
<li>Unit tests</li>
<li>Option to disable mouse support, so only for touch and pen input.</li>
</ul>
<h2>Getting Started</h2>
<p>See the <a href="https://github.com/EightMedia/hammer.js/wiki">Wiki on GitHub</a> for documentation.</p>
<h2>Contributing</h2>
<p>In lieu of a formal styleguide, take care to maintain the existing coding style.
Add unit tests for any new or changed functionality. Lint and test your code using grunt.
Please don&#39;t commit the dist versions with your changes, only the changed source files.</p>
<h2>Further notes</h2>
<p>Created by <a href="http://twitter.com/jorikdelaporik">Jorik Tangelder</a> and developed at <a href="http://www.eight.nl/">Eight Media</a> in Arnhem, the Netherlands.</p>
<p>It&#39;s recommend to listen to <a href="http://soundcloud.com/eightmedia/hammerhammerhammer">this loop</a> while using hammer.js.</p>
